@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    overflow: hidden;
}

.container::before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, rgb(153, 246, 82), rgb(143, 255, 58));
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 2s ease-in-out;
}

.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login-signup{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -75%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 80px;
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1/2;
}

form.sign-in-form{
    z-index: 2;
}

form.sign-up-form{
    z-index: 1;
    opacity: 0;
}

.login-signup .title{
    font-size: 36px;
    color: rgb(21, 21, 21);
    margin: 20px 0px;
}

.input-field{
    max-width: 400px;
    width: 100%;
    height: 55px;
    background-color: rgb(235, 235, 235);
    margin: 10px 0px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 10px;
}

.input-field i{
    text-align: center;
    line-height: 60px;
    color: rgb(112, 112, 112);
    font-size: 18px;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 700;
    font-size: 15px;
    color: rgb(56, 56, 56);
}

.input-field input::placeholder{
    color: rgb(177, 177, 177);
    font-weight: 500;
}

.btn{
    width: 150px;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(158, 255, 83);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px 0px;
    transition: .5s;
}

.btn:hover{
    background-color: rgb(92, 149, 48);
    border: 2px solid rgb(158, 255, 83);
}

.social-text{
    padding: 10px 0px;
    font-size: 15px;
}

.social-media{
    display: flex;
    justify-content: center;
}

.social-icon{
    height: 50px;
    width: 50px;
    border: 1px solid rgb(49, 49, 49);
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-size: 20px;
    border-radius: 30px;
}

.social-icon:hover{
    color: rgb(111, 255, 0);
    border: 2px solid rgb(67, 109, 34);
}

.panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.panel .content{
    color: white;
    transition: 1s .5s ease-in-out;
}

.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 24px;
}

.panel p{
    font-size: 16px;
    padding: 12px 0px;
}

.btn.transparent{
    margin: 0;
    background: none;
    border: 2px solid white;
    width: 120px;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
}

.left-panel{
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel{
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.image{
    width: 100%;
    transition: 1s .5s ease-in-out;
}

.right-panel .content, .right-panel .image{
    transform: translateX(800px);
}

/* animations*/

.container.sign-up-mode::before{
    transform: translate(100%, -50%);
    right: 55%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content{
    transform: translate(-800px);
}